<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<%- include('../partials/nav.ejs') %>
	<main>
		<div class="container mt-5">
			<div class="row">
				<h2 class="mb-4">
					<%= title %>
				</h2>
				
				<div class="col col-md-3">
					<%- include('../partials/category-menu.ejs' , categories) %>
				</div>

				<div class="col col-md-9">

					<% if (blogs.length == 0) { %>
						<%- include('../partials/no-product.ejs') %>
					<% } %>

					<% blogs.forEach(blog=> { %>
						<%- include('../partials/blog-card.ejs' , blog) %>
					<% }) %>

					<!-- Pagination -->
					<% if (blogs.filter(blog=> blog.isVerified).length > 1) { %>
						<%- include('../partials/pagination.ejs') %>
					<% } %>
				</div>
			</div>
		</div>
	</main>
</body>

</html>